@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
:root{
    --cyan:hsl(172, 67%, 45%);
    --darkCyan:hsl(183, 100%, 15%);
    --grayish:hsl(186, 14%, 43%);
    --grayishCyan:hsl(184, 14%, 56%);
    --lightGrayish:hsl(185, 41%, 84%);
    --veryLightCyan:hsl(189, 41%, 97%);
}
*{  
    font-family: 'Space Mono', monospace;
    border-radius: 15px;
}
.calculator{
background-color:var(--lightGrayish);
width: 100vw;
height:100vh;
box-sizing: border-box;
padding: 0;
overflow: hidden;
}
.section-1, .section-2{
    position: relative;
    width: 48%;
    height: 90%;
}
.section-2{
    color: var(--lightGrayish);
    background-color: var(--darkCyan);
    display: block;
}
.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 40vw;
    min-width: 500px;
    min-height: 200px;
    height: 40vh;
    margin: auto;
    margin-top: 25vh;
    background-color: var(--veryLightCyan);
}
.split{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.splitter{
    font-size: 1.8rem;
    color: var(--cyan);
}
.reset{
    background-color: var(--grayish);
    width: 60%;
    height: 2rem;
    margin-left: 20%;
    margin-top: 10%;
    border: none;
    cursor: pointer;
    
}

.section-1{
    display: grid;
}
.section-1>label>input{
width: 90%;
border: none;
background-color: var(--lightGrayish);
}
.tipOptions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
  row-gap: 1em;
}
.section-1>label>div>option{
    background-color: var(--darkCyan);
    color: var(--veryLightCyan);
    text-align: center;
    height: 25px;
    cursor: pointer;
}
.section-1>label>div>option:hover{
  color: var(--cyan);
}
.customInput{
    width: 7vw;
    max-width:100px
}


.hidden{
    display: none;
}

.attribution{
    text-align: center;
    margin-top: 25vh;
}
.attribution>a{color:black;}


@media (max-width:500px) {
    .content{
        display: block;
       min-width: 300px;
       margin-top: 5vh;
        
    }
    .section-1, .section-2{
        position: relative;
        margin: auto;
        width: 90%;
        height: 90%;
        min-height: 240px;
    }
    .section-2{
        border: 15px solid white;
    }
       .reset{
        margin-top: 0;
       }

       .attribution{
        margin-top: 40vh;
       }
}